{% extends "tasks/base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    {% if form.instance.pk %}Редактировать{% else %}Создать{% endif %} задачу
                </h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="text-danger">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'tasks:index' %}" class="btn btn-secondary me-2">Отмена</a>
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}Обновить{% else %}Создать{% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}